<?xml version="1.0"?>
<!-- 
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    CosmoCommerce
 * @package     CosmoCommerce_Alipay
 * @copyright   Copyright (c) 2009-2013 CosmoCommerce,LLC. (http://www.cosmocommerce.com)
 * @contact :
 * T: +86-021-66346672
 * L: Shanghai,China
 * M:sales@cosmocommerce.com
 */
-->
<config>
    <modules>
        <CosmoCommerce_Alipay>
            <version>1.5.0</version>
        </CosmoCommerce_Alipay>
    </modules>
    <global>
        <models>
            <alipay>
                <class>CosmoCommerce_Alipay_Model</class>
                <resourceModel>alipay_mysql4</resourceModel>
            </alipay>
            <alipay_mysql4>
                <class>CosmoCommerce_Alipay_Model_Mysql4</class>
                <entities>
                    <api_debug><table>alipay_api_debug</table></api_debug>
                </entities>
            </alipay_mysql4>
        </models>
        <resources>
            <alipay_setup>
                <setup>
                    <module>CosmoCommerce_Alipay</module>
                    <class>CosmoCommerce_Alipay_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </alipay_setup>
            <alipay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </alipay_write>
            <alipay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </alipay_read>
        </resources>
        <blocks>
            <alipay><class>CosmoCommerce_Alipay_Block</class></alipay>
    	</blocks>
        <payment>
            <alipay_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </alipay_payment>
        </payment>
		  <helpers>
		  	   <alipay>
		  	   	   <class>CosmoCommerce_Alipay_Helper</class>
		  	   </alipay>
		  </helpers>
    </global>
    <frontend>
        <secure_url>
            <alipay_payment>/alipay/payment</alipay_payment>
        </secure_url>
        <routers>
            <alipay>
                <use>standard</use>
                <args>
                    <module>CosmoCommerce_Alipay</module>
                    <frontName>alipay</frontName>
                </args>
            </alipay>
        </routers>
        <translate>
            <modules>
                <CosmoCommerce_Alipay>
                    <files>
                        <default>CosmoCommerce_Alipay.csv</default>
                    </files>
                </CosmoCommerce_Alipay>
            </modules>
        </translate>
        <layout>
            <updates>
                <alipay>
                    <file>alipay.xml</file>
                </alipay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <CosmoCommerce_Alipay>
                    <files>
                        <default>CosmoCommerce_Alipay.csv</default>
                    </files>
                </CosmoCommerce_Alipay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <alipay_payment>
                  <model>alipay/payment</model>
                  <title>Alipay</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </alipay_payment>
        </payment>
    </default>
</config>
